
.container{
    height:100vh;
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    border-radius: 3px;
    gap:10px;
    grid-template-areas: "sidebar header" "sidebar main" ;
}
.card{
    background-color: rgb(72, 71, 71);
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area:sidebar;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "project announcement"
        "project trending";
    gap: 2px;
}
.projects{
    grid-area: project;
}
.announcements{
    grid-area: announcement;
}
.trending{
    grid-area: trending;
}
.card1{
    background-color: rgb(187, 46, 46);
}
