
.container{
    height:100vh;
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap:10px;
    grid-template-areas: "sidebar header" "sidebar main" ;
    font-size: 15px;
    margin:20px;
}

.card{
    background-color: rgb(72, 71, 71);
}
.header{
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.sidebar{
    grid-area:sidebar;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
        "projectTitle announcementTitle"
        "projectContent announcementContent"
        "projectContent announcementContent"
        "projectContent announcementContent"
        "projectContent trendingTitle"
        "projectContent trendingContent"
        "projectContent trendingContent"
        "projectContent trendingContent"
    ;

}
.projectTitle{
    grid-area: projectTitle;
    margin:0 0 0 20px;
}
.projectContent{
    grid-area: projectContent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:10px;
    margin:20px;
}
.projectContent div{
    background-color: rgb(78, 88, 78);
}
.announcementTitle{
    grid-area: announcementTitle;
}
.announcementsContent{
    grid-area: announcementContent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.trendingTitle{
    grid-area: trendingTitle;
}
.trendingContent{
    grid-area: trendingContent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
