
.icon{
    height: 30px;
    width: 30px;
}
.container{
    height: 98vh;
    width:98vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap:10px;
    grid-template-areas: "sidebar header" "sidebar main" ;
    font-size: 15px;
    margin:20px;
}
.subHeadings{
    margin-left:10px;
}
.card{
    background-color: rgb(72, 71, 71);
}
.header{
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    padding-bottom: 20px;
}
.sidebar{
    grid-area:sidebar;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
        "projectTitle announcementTitle"
        "projectContent announcementContent"
        "projectContent announcementContent"
        "projectContent announcementContent"
        "projectContent trendingTitle"
        "projectContent trendingContent"
        "projectContent trendingContent"
        "projectContent trendingContent"
    ;

}
.projectTitle{
    grid-area: projectTitle;
    margin:0 0 0 20px;
}
.projectContent{
    grid-area: projectContent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:10px;
    margin:20px;
}
.projectContent div{
    background-color: rgb(78, 88, 78);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.announcementsTitle{
    grid-area: announcementTitle;
    margin-top:30px;
    
}
.announcementsContent{
    grid-area: announcementContent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width:300px;
}
.trendingTitle{
    grid-area: trendingTitle;
    margin-top:10px;
}
.trendingContent{
    grid-area: trendingContent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.searchBar{
    width: 500px;
    border-radius: 10px;
}
.profilePic{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    border: 2px solid pink;
}
.smallPic{
    height:40px;
    width: 40px;
}
.imageText, .buttons, .searchBar{
    display:flex;
    align-items: center;
}
.buttons{
    gap:5px;
}
input[type=button]{
    background-color: rgb(83, 83, 186);
    width: 70px;
}